* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #DA291C;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 300px;
}

h1 {
    color: #FFC72C;
    font-size: 50px;
}

.caixa {
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    margin-top: 50px;
    padding: 100px;
    text-align: center;
    border-radius: 20px;
    /* display: flex; */
}

button {
    background-color: #DA291C;
    padding: 20px 40px;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 20px;
    width: calc(50% - 20px);
    float: left;
    border-radius: 10px;
    transition: all ease-in-out .2s;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    cursor: pointer;
}

#btn_sim:hover {
    transform: scale(1.1);
    transition: all ease-in-out .2s;
}

#modal_sim {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #DA291C;
    transition: all ease-in-out .2s;
    z-index: 99999999;
}

.modal_conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#modal_sim button {
    background-color: #FFC72C;
    margin-top: 30px;
    width: auto;
}

#btn_nao:hover {
    display: none;
}

#btn_nao_mobile,
#nao_mobile {
    display: none;
}

@media screen and (max-width: 428px) {
    body {
        padding: 0 30px;
    }

    .logo {
        width: 200px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 30px;
    }

    .caixa {
        padding: 50px;
        position: relative;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    #btn_nao {
        display: none;
    }

    button {
        width: 100%;
        float: none;
        margin-left: 0;
        margin-right: 0;
    }

    #btn_nao_mobile {
        margin-top: 10px;
        z-index: 1;
        position: relative;
        display: block !important;
    }

    #nao_mobile {
        margin-top: 10px;
        padding: 20px;
        font-weight: 900;
        width: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 118px;
    }
}